.Container {
  flex-flow: column;
  display: flex;
  width: 100%;
  height: 100%;
}

.gap-right1 {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% + (43px) * 0) calc(100% - (79px + (43px) * 1)),
    calc(100% + (43px) * -0.131) calc(100% - (79px + (43px) * 0.991)),
    calc(100% + (43px) * -0.259) calc(100% - (79px + (43px) * 0.966)),
    calc(100% + (43px) * -0.383) calc(100% - (79px + (43px) * 0.924)),
    calc(100% + (43px) * -0.5) calc(100% - (79px + (43px) * 0.866)),
    calc(100% + (43px) * -0.609) calc(100% - (79px + (43px) * 0.793)),
    calc(100% + (43px) * -0.707) calc(100% - (79px + (43px) * 0.707)),
    calc(100% + (43px) * -0.793) calc(100% - (79px + (43px) * 0.609)),
    calc(100% + (43px) * -0.866) calc(100% - (79px + (43px) * 0.5)),
    calc(100% + (43px) * -0.924) calc(100% - (79px + (43px) * 0.383)),
    calc(100% + (43px) * -0.966) calc(100% - (79px + (43px) * 0.259)),
    calc(100% + (43px) * -0.991) calc(100% - (79px + (43px) * 0.131)),
    calc(100% + (43px) * -1) calc(100% - (79px + (43px) * 0)),
    calc(100% + (43px) * -0.991) calc(100% - (79px + (43px) * -0.131)),
    calc(100% + (43px) * -0.966) calc(100% - (79px + (43px) * -0.259)),
    calc(100% + (43px) * -0.924) calc(100% - (79px + (43px) * -0.383)),
    calc(100% + (43px) * -0.866) calc(100% - (79px + (43px) * -0.5)),
    calc(100% + (43px) * -0.793) calc(100% - (79px + (43px) * -0.609)),
    calc(100% + (43px) * -0.707) calc(100% - (79px + (43px) * -0.707)),
    calc(100% + (43px) * -0.609) calc(100% - (79px + (43px) * -0.793)),
    calc(100% + (43px) * -0.5) calc(100% - (79px + (43px) * -0.866)),
    calc(100% + (43px) * -0.383) calc(100% - (79px + (43px) * -0.924)),
    calc(100% + (43px) * -0.259) calc(100% - (79px + (43px) * -0.966)),
    calc(100% + (43px) * -0.131) calc(100% - (79px + (43px) * -0.991)),
    calc(100% + (43px) * 0) calc(100% - (79px + (43px) * -1)),
    100% 100%,
    0% 100%
  );
}

.gap-right2 {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% + (44px) * 0) calc(100% - (197px + (44px) * 1)),
    calc(100% + (44px) * -0.165) calc(100% - (197px + (44px) * 0.986)),
    calc(100% + (44px) * -0.325) calc(100% - (197px + (44px) * 0.946)),
    calc(100% + (44px) * -0.476) calc(100% - (197px + (44px) * 0.879)),
    calc(100% + (44px) * -0.614) calc(100% - (197px + (44px) * 0.789)),
    calc(100% + (44px) * -0.736) calc(100% - (197px + (44px) * 0.677)),
    calc(100% + (44px) * -0.837) calc(100% - (197px + (44px) * 0.547)),
    calc(100% + (44px) * -0.916) calc(100% - (197px + (44px) * 0.402)),
    calc(100% + (44px) * -0.969) calc(100% - (197px + (44px) * 0.245)),
    calc(100% + (44px) * -0.997) calc(100% - (197px + (44px) * 0.083)),
    calc(100% + (44px) * -0.997) calc(100% - (197px + (44px) * -0.083)),
    calc(100% + (44px) * -0.969) calc(100% - (197px + (44px) * -0.245)),
    calc(100% + (44px) * -0.916) calc(100% - (197px + (44px) * -0.402)),
    calc(100% + (44px) * -0.837) calc(100% - (197px + (44px) * -0.547)),
    calc(100% + (44px) * -0.736) calc(100% - (197px + (44px) * -0.677)),
    calc(100% + (44px) * -0.614) calc(100% - (197px + (44px) * -0.789)),
    calc(100% + (44px) * -0.476) calc(100% - (197px + (44px) * -0.879)),
    calc(100% + (44px) * -0.325) calc(100% - (197px + (44px) * -0.946)),
    calc(100% + (44px) * -0.165) calc(100% - (197px + (44px) * -0.986)),
    calc(100% + (44px) * 0) calc(100% - (197px + (44px) * -1)),
    100% 100%,
    0% 100%
  );
}

.gap-right3 {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% + (44px) * 0) calc(100% - (315px + (44px) * 1)),
    calc(100% + (44px) * -0.165) calc(100% - (315px + (44px) * 0.986)),
    calc(100% + (44px) * -0.325) calc(100% - (315px + (44px) * 0.946)),
    calc(100% + (44px) * -0.476) calc(100% - (315px + (44px) * 0.879)),
    calc(100% + (44px) * -0.614) calc(100% - (315px + (44px) * 0.789)),
    calc(100% + (44px) * -0.736) calc(100% - (315px + (44px) * 0.677)),
    calc(100% + (44px) * -0.837) calc(100% - (315px + (44px) * 0.547)),
    calc(100% + (44px) * -0.916) calc(100% - (315px + (44px) * 0.402)),
    calc(100% + (44px) * -0.969) calc(100% - (315px + (44px) * 0.245)),
    calc(100% + (44px) * -0.997) calc(100% - (315px + (44px) * 0.083)),
    calc(100% + (44px) * -0.997) calc(100% - (315px + (44px) * -0.083)),
    calc(100% + (44px) * -0.969) calc(100% - (315px + (44px) * -0.245)),
    calc(100% + (44px) * -0.916) calc(100% - (315px + (44px) * -0.402)),
    calc(100% + (44px) * -0.837) calc(100% - (315px + (44px) * -0.547)),
    calc(100% + (44px) * -0.736) calc(100% - (315px + (44px) * -0.677)),
    calc(100% + (44px) * -0.614) calc(100% - (315px + (44px) * -0.789)),
    calc(100% + (44px) * -0.476) calc(100% - (315px + (44px) * -0.879)),
    calc(100% + (44px) * -0.325) calc(100% - (315px + (44px) * -0.946)),
    calc(100% + (44px) * -0.165) calc(100% - (315px + (44px) * -0.986)),
    calc(100% + (44px) * 0) calc(100% - (315px + (44px) * -1)),
    100% 100%,
    0% 100%
  );
}

.gap-right4 {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    calc(100% + (39px + 5px) * 0)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 1)),
    calc(100% + (39px + 5px) * -0.165)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.986)),
    calc(100% + (39px + 5px) * -0.325)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.946)),
    calc(100% + (39px + 5px) * -0.476)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.879)),
    calc(100% + (39px + 5px) * -0.614)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.789)),
    calc(100% + (39px + 5px) * -0.736)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.677)),
    calc(100% + (39px + 5px) * -0.837)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.547)),
    calc(100% + (39px + 5px) * -0.916)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.402)),
    calc(100% + (39px + 5px) * -0.969)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.245)),
    calc(100% + (39px + 5px) * -0.997)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * 0.083)),
    calc(100% + (39px + 5px) * -0.997)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.083)),
    calc(100% + (39px + 5px) * -0.969)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.245)),
    calc(100% + (39px + 5px) * -0.916)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.402)),
    calc(100% + (39px + 5px) * -0.837)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.547)),
    calc(100% + (39px + 5px) * -0.736)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.677)),
    calc(100% + (39px + 5px) * -0.614)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.789)),
    calc(100% + (39px + 5px) * -0.476)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.879)),
    calc(100% + (39px + 5px) * -0.325)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.946)),
    calc(100% + (39px + 5px) * -0.165)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -0.986)),
    calc(100% + (39px + 5px) * 0)
      calc(100% - (78px * 3.5 + 40px * 4 + (39px + 5px) * -1)),
    100% 100%,
    0% 100%
  );
}

.gap-left1 {
  clip-path: polygon(
    100% 0%,
    100% 100%,
    0% 100%,
    calc(0% + (39px + 5px) * 0) calc(100% - (39px + 40px + (39px + 5px) * -1)),
    calc(0% + (39px + 5px) * 0.165)
      calc(100% - (39px + 40px + (39px + 5px) * -0.986)),
    calc(0% + (39px + 5px) * 0.325)
      calc(100% - (39px + 40px + (39px + 5px) * -0.946)),
    calc(0% + (39px + 5px) * 0.476)
      calc(100% - (39px + 40px + (39px + 5px) * -0.879)),
    calc(0% + (39px + 5px) * 0.614)
      calc(100% - (39px + 40px + (39px + 5px) * -0.789)),
    calc(0% + (39px + 5px) * 0.736)
      calc(100% - (39px + 40px + (39px + 5px) * -0.677)),
    calc(0% + (39px + 5px) * 0.837)
      calc(100% - (39px + 40px + (39px + 5px) * -0.547)),
    calc(0% + (39px + 5px) * 0.916)
      calc(100% - (39px + 40px + (39px + 5px) * -0.402)),
    calc(0% + (39px + 5px) * 0.969)
      calc(100% - (39px + 40px + (39px + 5px) * -0.245)),
    calc(0% + (39px + 5px) * 0.997)
      calc(100% - (39px + 40px + (39px + 5px) * -0.083)),
    calc(0% + (39px + 5px) * 0.997)
      calc(100% - (39px + 40px + (39px + 5px) * 0.083)),
    calc(0% + (39px + 5px) * 0.969)
      calc(100% - (39px + 40px + (39px + 5px) * 0.245)),
    calc(0% + (39px + 5px) * 0.916)
      calc(100% - (39px + 40px + (39px + 5px) * 0.402)),
    calc(0% + (39px + 5px) * 0.837)
      calc(100% - (39px + 40px + (39px + 5px) * 0.547)),
    calc(0% + (39px + 5px) * 0.736)
      calc(100% - (39px + 40px + (39px + 5px) * 0.677)),
    calc(0% + (39px + 5px) * 0.614)
      calc(100% - (39px + 40px + (39px + 5px) * 0.789)),
    calc(0% + (39px + 5px) * 0.476)
      calc(100% - (39px + 40px + (39px + 5px) * 0.879)),
    calc(0% + (39px + 5px) * 0.325)
      calc(100% - (39px + 40px + (39px + 5px) * 0.946)),
    calc(0% + (39px + 5px) * 0.165)
      calc(100% - (39px + 40px + (39px + 5px) * 0.986)),
    calc(0% + (39px + 5px) * 0) calc(100% - (39px + 40px + (39px + 5px) * 1)),
    0% 0%
  );
}

.gap-left2 {
  clip-path: polygon(
    100% 0%,
    100% 100%,
    0% 100%,
    calc(0% + (44px) * 0) calc(100% - (197px + (44px) * -1)),
    calc(0% + (44px) * 0.165) calc(100% - (197px + (44px) * -0.986)),
    calc(0% + (44px) * 0.325) calc(100% - (197px + (44px) * -0.946)),
    calc(0% + (44px) * 0.476) calc(100% - (197px + (44px) * -0.879)),
    calc(0% + (44px) * 0.614) calc(100% - (197px + (44px) * -0.789)),
    calc(0% + (44px) * 0.736) calc(100% - (197px + (44px) * -0.677)),
    calc(0% + (44px) * 0.837) calc(100% - (197px + (44px) * -0.547)),
    calc(0% + (44px) * 0.916) calc(100% - (197px + (44px) * -0.402)),
    calc(0% + (44px) * 0.969) calc(100% - (197px + (44px) * -0.245)),
    calc(0% + (44px) * 0.997) calc(100% - (197px + (44px) * -0.083)),
    calc(0% + (44px) * 0.997) calc(100% - (197px + (44px) * 0.083)),
    calc(0% + (44px) * 0.969) calc(100% - (197px + (44px) * 0.245)),
    calc(0% + (44px) * 0.916) calc(100% - (197px + (44px) * 0.402)),
    calc(0% + (44px) * 0.837) calc(100% - (197px + (44px) * 0.547)),
    calc(0% + (44px) * 0.736) calc(100% - (197px + (44px) * 0.677)),
    calc(0% + (44px) * 0.614) calc(100% - (197px + (44px) * 0.789)),
    calc(0% + (44px) * 0.476) calc(100% - (197px + (44px) * 0.879)),
    calc(0% + (44px) * 0.325) calc(100% - (197px + (44px) * 0.946)),
    calc(0% + (44px) * 0.165) calc(100% - (197px + (44px) * 0.986)),
    calc(0% + (44px) * 0) calc(100% - (197px + (44px) * 1)),
    0% 0%
  );
}

.gap-left3 {
  clip-path: polygon(
    100% 0%,
    100% 100%,
    0% 100%,
    calc(0% + (44px) * 0) calc(100% - (315px + (44px) * -1)),
    calc(0% + (44px) * 0.165) calc(100% - (315px + (44px) * -0.986)),
    calc(0% + (44px) * 0.325) calc(100% - (315px + (44px) * -0.946)),
    calc(0% + (44px) * 0.476) calc(100% - (315px + (44px) * -0.879)),
    calc(0% + (44px) * 0.614) calc(100% - (315px + (44px) * -0.789)),
    calc(0% + (44px) * 0.736) calc(100% - (315px + (44px) * -0.677)),
    calc(0% + (44px) * 0.837) calc(100% - (315px + (44px) * -0.547)),
    calc(0% + (44px) * 0.916) calc(100% - (315px + (44px) * -0.402)),
    calc(0% + (44px) * 0.969) calc(100% - (315px + (44px) * -0.245)),
    calc(0% + (44px) * 0.997) calc(100% - (315px + (44px) * -0.083)),
    calc(0% + (44px) * 0.997) calc(100% - (315px + (44px) * 0.083)),
    calc(0% + (44px) * 0.969) calc(100% - (315px + (44px) * 0.245)),
    calc(0% + (44px) * 0.916) calc(100% - (315px + (44px) * 0.402)),
    calc(0% + (44px) * 0.837) calc(100% - (315px + (44px) * 0.547)),
    calc(0% + (44px) * 0.736) calc(100% - (315px + (44px) * 0.677)),
    calc(0% + (44px) * 0.614) calc(100% - (315px + (44px) * 0.789)),
    calc(0% + (44px) * 0.476) calc(100% - (315px + (44px) * 0.879)),
    calc(0% + (44px) * 0.325) calc(100% - (315px + (44px) * 0.946)),
    calc(0% + (44px) * 0.165) calc(100% - (315px + (44px) * 0.986)),
    calc(0% + (44px) * 0) calc(100% - (315px + (44px) * 1)),
    0% 0%
  );
}

@media only screen and (orientation: landscape) and (max-height: 736px) {
  .gap-right1 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 1)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.986)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.946)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.879)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.789)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.677)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.547)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.402)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.245)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.083)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.083)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.245)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.402)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.547)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.677)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.789)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.879)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.946)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.986)),
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-right2 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 1)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.986)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.946)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.879)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.789)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.677)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.547)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.402)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.245)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.083)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.083)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.245)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.402)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.547)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.677)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.789)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.879)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.946)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.986)),
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-right3 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 1)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.986)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.946)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.879)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.789)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.677)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.547)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.402)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.245)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.083)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.083)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.245)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.402)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.547)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.677)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.789)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.879)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.946)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.986)),
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-right4 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 1)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.986)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.946)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.879)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.789)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.677)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.547)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.402)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.245)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * 0.083)),
      calc(100% + (12.5vh - 10px) * -0.997)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.083)),
      calc(100% + (12.5vh - 10px) * -0.969)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.245)),
      calc(100% + (12.5vh - 10px) * -0.916)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.402)),
      calc(100% + (12.5vh - 10px) * -0.837)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.547)),
      calc(100% + (12.5vh - 10px) * -0.736)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.677)),
      calc(100% + (12.5vh - 10px) * -0.614)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.789)),
      calc(100% + (12.5vh - 10px) * -0.476)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.879)),
      calc(100% + (12.5vh - 10px) * -0.325)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.946)),
      calc(100% + (12.5vh - 10px) * -0.165)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -0.986)),
      calc(100% + (12.5vh - 10px) * 0)
        calc(100% - (87.5vh - 9px + (12.5vh - 10px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-left1 {
    clip-path: polygon(
      100% 0%,
      100% 100%,
      0% 100%,
      calc(0% + (12.5vh - 10px) * 0)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -1)),
      calc(0% + (12.5vh - 10px) * 0.165)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.986)),
      calc(0% + (12.5vh - 10px) * 0.325)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.946)),
      calc(0% + (12.5vh - 10px) * 0.476)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.879)),
      calc(0% + (12.5vh - 10px) * 0.614)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.789)),
      calc(0% + (12.5vh - 10px) * 0.736)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.677)),
      calc(0% + (12.5vh - 10px) * 0.837)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.547)),
      calc(0% + (12.5vh - 10px) * 0.916)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.402)),
      calc(0% + (12.5vh - 10px) * 0.969)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.245)),
      calc(0% + (12.5vh - 10px) * 0.997)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * -0.083)),
      calc(0% + (12.5vh - 10px) * 0.997)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.083)),
      calc(0% + (12.5vh - 10px) * 0.969)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.245)),
      calc(0% + (12.5vh - 10px) * 0.916)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.402)),
      calc(0% + (12.5vh - 10px) * 0.837)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.547)),
      calc(0% + (12.5vh - 10px) * 0.736)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.677)),
      calc(0% + (12.5vh - 10px) * 0.614)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.789)),
      calc(0% + (12.5vh - 10px) * 0.476)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.879)),
      calc(0% + (12.5vh - 10px) * 0.325)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.946)),
      calc(0% + (12.5vh - 10px) * 0.165)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 0.986)),
      calc(0% + (12.5vh - 10px) * 0)
        calc(100% - (12.5vh + 9px + (12.5vh - 10px) * 1)),
      0% 0%
    );
  }

  .gap-left2 {
    clip-path: polygon(
      100% 0%,
      100% 100%,
      0% 100%,
      calc(0% + (12.5vh - 10px) * 0)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -1)),
      calc(0% + (12.5vh - 10px) * 0.165)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.986)),
      calc(0% + (12.5vh - 10px) * 0.325)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.946)),
      calc(0% + (12.5vh - 10px) * 0.476)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.879)),
      calc(0% + (12.5vh - 10px) * 0.614)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.789)),
      calc(0% + (12.5vh - 10px) * 0.736)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.677)),
      calc(0% + (12.5vh - 10px) * 0.837)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.547)),
      calc(0% + (12.5vh - 10px) * 0.916)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.402)),
      calc(0% + (12.5vh - 10px) * 0.969)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.245)),
      calc(0% + (12.5vh - 10px) * 0.997)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * -0.083)),
      calc(0% + (12.5vh - 10px) * 0.997)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.083)),
      calc(0% + (12.5vh - 10px) * 0.969)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.245)),
      calc(0% + (12.5vh - 10px) * 0.916)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.402)),
      calc(0% + (12.5vh - 10px) * 0.837)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.547)),
      calc(0% + (12.5vh - 10px) * 0.736)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.677)),
      calc(0% + (12.5vh - 10px) * 0.614)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.789)),
      calc(0% + (12.5vh - 10px) * 0.476)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.879)),
      calc(0% + (12.5vh - 10px) * 0.325)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.946)),
      calc(0% + (12.5vh - 10px) * 0.165)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 0.986)),
      calc(0% + (12.5vh - 10px) * 0)
        calc(100% - (37.5vh + 3px + (12.5vh - 10px) * 1)),
      0% 0%
    );
  }

  .gap-left3 {
    clip-path: polygon(
      100% 0%,
      100% 100%,
      0% 100%,
      calc(0% + (12.5vh - 10px) * 0)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -1)),
      calc(0% + (12.5vh - 10px) * 0.165)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.986)),
      calc(0% + (12.5vh - 10px) * 0.325)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.946)),
      calc(0% + (12.5vh - 10px) * 0.476)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.879)),
      calc(0% + (12.5vh - 10px) * 0.614)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.789)),
      calc(0% + (12.5vh - 10px) * 0.736)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.677)),
      calc(0% + (12.5vh - 10px) * 0.837)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.547)),
      calc(0% + (12.5vh - 10px) * 0.916)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.402)),
      calc(0% + (12.5vh - 10px) * 0.969)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.245)),
      calc(0% + (12.5vh - 10px) * 0.997)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * -0.083)),
      calc(0% + (12.5vh - 10px) * 0.997)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.083)),
      calc(0% + (12.5vh - 10px) * 0.969)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.245)),
      calc(0% + (12.5vh - 10px) * 0.916)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.402)),
      calc(0% + (12.5vh - 10px) * 0.837)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.547)),
      calc(0% + (12.5vh - 10px) * 0.736)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.677)),
      calc(0% + (12.5vh - 10px) * 0.614)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.789)),
      calc(0% + (12.5vh - 10px) * 0.476)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.879)),
      calc(0% + (12.5vh - 10px) * 0.325)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.946)),
      calc(0% + (12.5vh - 10px) * 0.165)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 0.986)),
      calc(0% + (12.5vh - 10px) * 0)
        calc(100% - (62.5vh - 3px + (12.5vh - 10px) * 1)),
      0% 0%
    );
  }
}

@media only screen and (orientation: portrait) and (max-height: 736px),
  screen and (orientation: portrait) and (max-width: 414px) {
  .gap-right1 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (36px) * 0) calc(100% - (54px + (36px) * 1)),
      calc(100% + (36px) * -0.142) calc(100% - (54px + (36px) * 0.99)),
      calc(100% + (36px) * -0.282) calc(100% - (54px + (36px) * 0.959)),
      calc(100% + (36px) * -0.415) calc(100% - (54px + (36px) * 0.91)),
      calc(100% + (36px) * -0.541) calc(100% - (54px + (36px) * 0.841)),
      calc(100% + (36px) * -0.655) calc(100% - (54px + (36px) * 0.756)),
      calc(100% + (36px) * -0.756) calc(100% - (54px + (36px) * 0.655)),
      calc(100% + (36px) * -0.841) calc(100% - (54px + (36px) * 0.541)),
      calc(100% + (36px) * -0.91) calc(100% - (54px + (36px) * 0.415)),
      calc(100% + (36px) * -0.959) calc(100% - (54px + (36px) * 0.282)),
      calc(100% + (36px) * -0.99) calc(100% - (54px + (36px) * 0.142)),
      calc(100% + (36px) * -1) calc(100% - (54px + (36px) * 0)),
      calc(100% + (36px) * -0.99) calc(100% - (54px + (36px) * -0.142)),
      calc(100% + (36px) * -0.959) calc(100% - (54px + (36px) * -0.282)),
      calc(100% + (36px) * -0.91) calc(100% - (54px + (36px) * -0.415)),
      calc(100% + (36px) * -0.841) calc(100% - (54px + (36px) * -0.541)),
      calc(100% + (36px) * -0.756) calc(100% - (54px + (36px) * -0.655)),
      calc(100% + (36px) * -0.655) calc(100% - (54px + (36px) * -0.756)),
      calc(100% + (36px) * -0.541) calc(100% - (54px + (36px) * -0.841)),
      calc(100% + (36px) * -0.415) calc(100% - (54px + (36px) * -0.91)),
      calc(100% + (36px) * -0.282) calc(100% - (54px + (36px) * -0.959)),
      calc(100% + (36px) * -0.142) calc(100% - (54px + (36px) * -0.99)),
      calc(100% + (36px) * 0) calc(100% - (54px + (36px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-right2 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (36px) * 0) calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 1)),
      calc(100% + (36px) * -0.165)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.986)),
      calc(100% + (36px) * -0.325)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.946)),
      calc(100% + (36px) * -0.476)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.879)),
      calc(100% + (36px) * -0.614)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.789)),
      calc(100% + (36px) * -0.736)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.677)),
      calc(100% + (36px) * -0.837)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.547)),
      calc(100% + (36px) * -0.916)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.402)),
      calc(100% + (36px) * -0.969)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.245)),
      calc(100% + (36px) * -0.997)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * 0.083)),
      calc(100% + (36px) * -0.997)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.083)),
      calc(100% + (36px) * -0.969)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.245)),
      calc(100% + (36px) * -0.916)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.402)),
      calc(100% + (36px) * -0.837)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.547)),
      calc(100% + (36px) * -0.736)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.677)),
      calc(100% + (36px) * -0.614)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.789)),
      calc(100% + (36px) * -0.476)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.879)),
      calc(100% + (36px) * -0.325)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.946)),
      calc(100% + (36px) * -0.165)
        calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -0.986)),
      calc(100% + (36px) * 0) calc(100% - (60px * 1.5 + 24px * 2 + (36px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-right3 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (36px) * 0) calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 1)),
      calc(100% + (36px) * -0.165)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.986)),
      calc(100% + (36px) * -0.325)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.946)),
      calc(100% + (36px) * -0.476)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.879)),
      calc(100% + (36px) * -0.614)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.789)),
      calc(100% + (36px) * -0.736)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.677)),
      calc(100% + (36px) * -0.837)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.547)),
      calc(100% + (36px) * -0.916)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.402)),
      calc(100% + (36px) * -0.969)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.245)),
      calc(100% + (36px) * -0.997)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * 0.083)),
      calc(100% + (36px) * -0.997)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.083)),
      calc(100% + (36px) * -0.969)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.245)),
      calc(100% + (36px) * -0.916)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.402)),
      calc(100% + (36px) * -0.837)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.547)),
      calc(100% + (36px) * -0.736)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.677)),
      calc(100% + (36px) * -0.614)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.789)),
      calc(100% + (36px) * -0.476)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.879)),
      calc(100% + (36px) * -0.325)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.946)),
      calc(100% + (36px) * -0.165)
        calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -0.986)),
      calc(100% + (36px) * 0) calc(100% - (60px * 2.5 + 24px * 3 + (36px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-right4 {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      calc(100% + (36px) * 0) calc(100% - (306px + (36px) * 1)),
      calc(100% + (36px) * -0.165) calc(100% - (306px + (36px) * 0.986)),
      calc(100% + (36px) * -0.325) calc(100% - (306px + (36px) * 0.946)),
      calc(100% + (36px) * -0.476) calc(100% - (306px + (36px) * 0.879)),
      calc(100% + (36px) * -0.614) calc(100% - (306px + (36px) * 0.789)),
      calc(100% + (36px) * -0.736) calc(100% - (306px + (36px) * 0.677)),
      calc(100% + (36px) * -0.837) calc(100% - (306px + (36px) * 0.547)),
      calc(100% + (36px) * -0.916) calc(100% - (306px + (36px) * 0.402)),
      calc(100% + (36px) * -0.969) calc(100% - (306px + (36px) * 0.245)),
      calc(100% + (36px) * -0.997) calc(100% - (306px + (36px) * 0.083)),
      calc(100% + (36px) * -0.997) calc(100% - (306px + (36px) * -0.083)),
      calc(100% + (36px) * -0.969) calc(100% - (306px + (36px) * -0.245)),
      calc(100% + (36px) * -0.916) calc(100% - (306px + (36px) * -0.402)),
      calc(100% + (36px) * -0.837) calc(100% - (306px + (36px) * -0.547)),
      calc(100% + (36px) * -0.736) calc(100% - (306px + (36px) * -0.677)),
      calc(100% + (36px) * -0.614) calc(100% - (306px + (36px) * -0.789)),
      calc(100% + (36px) * -0.476) calc(100% - (306px + (36px) * -0.879)),
      calc(100% + (36px) * -0.325) calc(100% - (306px + (36px) * -0.946)),
      calc(100% + (36px) * -0.165) calc(100% - (306px + (36px) * -0.986)),
      calc(100% + (36px) * 0) calc(100% - (306px + (36px) * -1)),
      100% 100%,
      0% 100%
    );
  }

  .gap-left1 {
    clip-path: polygon(
      100% 0%,
      100% 100%,
      0% 100%,
      calc(0% + (36px) * 0) calc(100% - (60px * 0.5 + 24px + (36px) * -1)),
      calc(0% + (36px) * 0.208)
        calc(100% - (60px * 0.5 + 24px + (36px) * -0.978)),
      calc(0% + (36px) * 0.407)
        calc(100% - (60px * 0.5 + 24px + (36px) * -0.914)),
      calc(0% + (36px) * 0.588)
        calc(100% - (60px * 0.5 + 24px + (36px) * -0.809)),
      calc(0% + (36px) * 0.743)
        calc(100% - (60px * 0.5 + 24px + (36px) * -0.669)),
      calc(0% + (36px) * 0.866) calc(100% - (60px * 0.5 + 24px + (36px) * -0.5)),
      calc(0% + (36px) * 0.951)
        calc(100% - (60px * 0.5 + 24px + (36px) * -0.309)),
      calc(0% + (36px) * 0.995)
        calc(100% - (60px * 0.5 + 24px + (36px) * -0.105)),
      calc(0% + (36px) * 0.995)
        calc(100% - (60px * 0.5 + 24px + (36px) * 0.105)),
      calc(0% + (36px) * 0.951)
        calc(100% - (60px * 0.5 + 24px + (36px) * 0.309)),
      calc(0% + (36px) * 0.866) calc(100% - (60px * 0.5 + 24px + (36px) * 0.5)),
      calc(0% + (36px) * 0.743)
        calc(100% - (60px * 0.5 + 24px + (36px) * 0.669)),
      calc(0% + (36px) * 0.588)
        calc(100% - (60px * 0.5 + 24px + (36px) * 0.809)),
      calc(0% + (36px) * 0.407)
        calc(100% - (60px * 0.5 + 24px + (36px) * 0.914)),
      calc(0% + (36px) * 0.208)
        calc(100% - (60px * 0.5 + 24px + (36px) * 0.978)),
      calc(0% + (36px) * 0) calc(100% - (60px * 0.5 + 24px + (36px) * 1)),
      0% 0%
    );
  }

  .gap-left2 {
    clip-path: polygon(
      100% 0%,
      100% 100%,
      0% 100%,
      calc(0% + (36px) * 0) calc(100% - (90px + 48px + (36px) * -1)),
      calc(0% + (36px) * 0.165) calc(100% - (90px + 48px + (36px) * -0.986)),
      calc(0% + (36px) * 0.325) calc(100% - (90px + 48px + (36px) * -0.946)),
      calc(0% + (36px) * 0.476) calc(100% - (90px + 48px + (36px) * -0.879)),
      calc(0% + (36px) * 0.614) calc(100% - (90px + 48px + (36px) * -0.789)),
      calc(0% + (36px) * 0.736) calc(100% - (90px + 48px + (36px) * -0.677)),
      calc(0% + (36px) * 0.837) calc(100% - (90px + 48px + (36px) * -0.547)),
      calc(0% + (36px) * 0.916) calc(100% - (90px + 48px + (36px) * -0.402)),
      calc(0% + (36px) * 0.969) calc(100% - (90px + 48px + (36px) * -0.245)),
      calc(0% + (36px) * 0.997) calc(100% - (90px + 48px + (36px) * -0.083)),
      calc(0% + (36px) * 0.997) calc(100% - (90px + 48px + (36px) * 0.083)),
      calc(0% + (36px) * 0.969) calc(100% - (90px + 48px + (36px) * 0.245)),
      calc(0% + (36px) * 0.916) calc(100% - (90px + 48px + (36px) * 0.402)),
      calc(0% + (36px) * 0.837) calc(100% - (90px + 48px + (36px) * 0.547)),
      calc(0% + (36px) * 0.736) calc(100% - (90px + 48px + (36px) * 0.677)),
      calc(0% + (36px) * 0.614) calc(100% - (90px + 48px + (36px) * 0.789)),
      calc(0% + (36px) * 0.476) calc(100% - (90px + 48px + (36px) * 0.879)),
      calc(0% + (36px) * 0.325) calc(100% - (90px + 48px + (36px) * 0.946)),
      calc(0% + (36px) * 0.165) calc(100% - (90px + 48px + (36px) * 0.986)),
      calc(0% + (36px) * 0) calc(100% - (90px + 48px + (36px) * 1)),
      0% 0%
    );
  }

  .gap-left3 {
    clip-path: polygon(
      100% 0%,
      100% 100%,
      0% 100%,
      calc(0% + (36px) * 0) calc(100% - (222px + (36px) * -1)),
      calc(0% + (36px) * 0.165) calc(100% - (222px + (36px) * -0.986)),
      calc(0% + (36px) * 0.325) calc(100% - (222px + (36px) * -0.946)),
      calc(0% + (36px) * 0.476) calc(100% - (222px + (36px) * -0.879)),
      calc(0% + (36px) * 0.614) calc(100% - (222px + (36px) * -0.789)),
      calc(0% + (36px) * 0.736) calc(100% - (222px + (36px) * -0.677)),
      calc(0% + (36px) * 0.837) calc(100% - (222px + (36px) * -0.547)),
      calc(0% + (36px) * 0.916) calc(100% - (222px + (36px) * -0.402)),
      calc(0% + (36px) * 0.969) calc(100% - (222px + (36px) * -0.245)),
      calc(0% + (36px) * 0.997) calc(100% - (222px + (36px) * -0.083)),
      calc(0% + (36px) * 0.997) calc(100% - (222px + (36px) * 0.083)),
      calc(0% + (36px) * 0.969) calc(100% - (222px + (36px) * 0.245)),
      calc(0% + (36px) * 0.916) calc(100% - (222px + (36px) * 0.402)),
      calc(0% + (36px) * 0.837) calc(100% - (222px + (36px) * 0.547)),
      calc(0% + (36px) * 0.736) calc(100% - (222px + (36px) * 0.677)),
      calc(0% + (36px) * 0.614) calc(100% - (222px + (36px) * 0.789)),
      calc(0% + (36px) * 0.476) calc(100% - (222px + (36px) * 0.879)),
      calc(0% + (36px) * 0.325) calc(100% - (222px + (36px) * 0.946)),
      calc(0% + (36px) * 0.165) calc(100% - (222px + (36px) * 0.986)),
      calc(0% + (36px) * 0) calc(100% - (222px + (36px) * 1)),
      0% 0%
    );
  }
}
