.Container {
}

.BackgroundVideo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Container .ButtonAuth {
  position: absolute;
  right: 16px;
  top: 0;
}

.Container .ButtonShopFinder {
  position: absolute;
  left: 0;
  top: 0;
}
